/*--PAGE 5--*/

body {
	background: linear-gradient(180deg, #F3A1C2, #E8553E);
}

h1 {
	font-family: "raph lanok future";
	font-size: 800%;
	padding-left: 5px;
	padding-bottom: 190px;
	margin-bottom: 100px;
}

h3 {
	font-family: "raph lanok future";
	font-size: 200%;
	margin-bottom: 8px;

}

p {
	font-family: "montserrat";
}

.videoTitle {
	background-image: url(http://www.rhymeonbeat.com/wp-content/uploads/2015/03/Feature-Oddisee-660x330.jpg);
	background-size: 100%;
	margin-bottom: 30px;
	background-repeat: none;
	color: white;
}

.nav {
	color: white;
	padding-left: 5px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
		"header . header"
		"main . main"
		"footer . footer";
	grid-column-gap: 30px;
	grid-row-gap: 50px;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-bottom: 50px;
}

.wantToBe {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
}

.ownAppeal {
	grid-column-start: 3;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
}

.whoYouAre {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
}

.counter {
	grid-column-start: 3;
	grid-column-end: end;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
}

.nnge {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: end;
	justify-self: center;
	align-self: center;
}

.brea {
	grid-column-start: 3;
	grid-column-end: end;
	grid-row-start: 3;
	grid-row-end: end;
	justify-self: center;
	align-self: center;
}

.submit {
	margin: 10px;
}







